/**************
 IS 448
 Brandon Le
 Deliverable 4
**************/
	/*Body Styling */
	body{
		font-family:Verdana, Tahoma, sans-serif;
		font-size: 12pt;
		margin: 0;
	}

	/*Header Styling */
	.header {
		background-image: url('https://swe.umbc.edu/~ble6/deliverable5/banner.png '); /* Header image */
		height: 8%;
		justify-content: center;
		top: 0;
		position: relative;
		width: 100%;
	}
	.header a {
		color: white; /* Change text to white */
		text-decoration: none; /* No underline */
	}
	.logo img {
		height: 50px;
		text-align: left;
	}

	/* Sidebar Styling */
	.sidebar {
		float: left; /* Makes sidebar display to the side of main */
		height: 100vh;
		left: 0;
		padding: 20px;
		position: relative;
		top: 0;
		width: 20em;
	}
	.sidebar .link {
		display: block; /* Makes each option a box that u can click on */
		margin: 20px 0;
		padding: 10px;
		border-bottom: 1px solid #333; /* Border between each sidebar item */
	}
	.sidebar .link a {
		color: black; /* Black text */
		text-decoration: none;
	}

	/* Main Styling */
	.main {
		float: left; /* Makes main display to the side of sidebar */
		min-height: 100vh; /* Makes footer stay on the bottom */
		padding: 20px;
		position: relative;
		width: 72%; /* Main content width to cover the rest of the screen*/
	}
	.main h2 {
		border-bottom: 1px solid #333; /* Line below the heading */
		padding-bottom: 10px;
	}
	.form-group {
		border-bottom: 1px solid #333; /* Line between the groups */
		margin: 20px 0;
		padding-bottom: 20px;
	}
	label {
		display: block;
		margin-bottom: 10px;
	}
	input {
		background-color: #F5FFFF; /* Light blue color background for the input box */
		border: 1px solid #555;  /* Border for the input box */
		padding: 10px;
		margin-bottom: 10px;
		width: 100%;
	}
	button {
		background-color: #000000; /* Button color */
		border: none;
		color: #fff; /* Text color */
		padding: 10px 20px;
	}
	button:hover {
		background-color: #D3D3D3; /* Button's color when hovered */
	}

	/* Footer Styling */
	.footer {
		background-color: #000000; /* Black Background */
		clear: both; /* Clears so footer appears below all elements */
		padding: 20px;
		position: relative;
		text-align: center;
		width: 100%;
	}
	.footer a {
		color: white; /* white text */
		margin: 0 30px;
		text-decoration: none; /* No underline */
	}
