/**************
 IS 448
 Brandon Le
 Deliverable 4
**************/
	/*Body Styling */
	body{
		font-family:Verdana, Tahoma, sans-serif;
		font-size: 12pt;
		background-image: url('../images/image.png');
		background-size: cover; /* Ensures the image covers the entire page */
		background-position: center; /* Centers the image */
		background-repeat: no-repeat; /* Prevents repeating the image */
		height: 100%;  /* Ensures the page takes up the full height */
		margin: 0;     /* Removes default margin */
		cursor: url('path/to/your/cursor.png'), auto;
}

